/*alphetically sorted by category*: responsive design first
media queries, elements, ids, classes/


/*Laptop*/
@media screen and (min-width: 1200px) {
    body {
        width: 100%;
    }

    /*contains intro paragraph and main images */
    #introSection {
        margin: 5%;
        margin-top: 0%;  
    }

    #introParagraph {
        padding: 10%;
    }

    /*the section with my recommended products */
    #productSection {
        clear: left;
        margin-top: 15%;
    }

    #productCards {
        margin: 5%;
    }

    /*individual size of cards, will be adjusted for each device*/
    .card {
        width: 29%;
        float:left;
        padding: 1%;
    }

    /*if you hover with house, card shadow will lengthen*/
    .card:hover{
    box-shadow: 0em .25em .5em 0em rgba(6, 6, 6, 0.2);
    }
    .mainImage {
        float:left;
        width: 33.33%;
        padding: .5%;
        padding-left:0%;
        padding-top:0%;

    }

} 


/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
        width: 100%;
    }

    .card {
        width: 44.45%;
        float:left;
        padding: 1%;
    }

    /*if you hover with house, card shadow will lengthen*/
    .card:hover{
    box-shadow: 0em .25em .5em 0em rgba(6, 6, 6, 0.2);
    }

    /*contains intro paragraph and main images */
    #introSection {
        margin: 5%;
        margin-top: 0%;
    }

    #introParagraph {
        clear: left;
        padding: 3%;
        padding-left: 0%;
    }

    /*the section with my recommended products */
    #productSection {
        clear: left;
        margin-top: 5%;
    }

    #productCards {
        margin: 5%;
    }

    /*reduced font size of main header*/
    #mainTitle {
        font-size: 150%;
    }

    /*made main images take up width, put description underneath*/
    .mainImage {
        display:block;
        float:left;
        width: 45%;
        padding-top:0%;
    }
} 

/*phone or small device*/
@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }

    .card {
        float:left;
        margin: 2%;
        padding: 1%;
        width: 96%;
    }

    /*if you hover with house, card shadow will lengthen*/
    .card:hover{
    box-shadow: 0em .25em .5em 0em rgba(6, 6, 6, 0.2);
    }

    /*contains intro paragraph and main images */
    #introSection {
        margin: 5%;
        margin-top: 0%;
    }

    #introParagraph {
        clear: left;
        padding: 3%;
        padding-left: 0%;
    }

    /*hides second main image*/
    #mainImage2 {
        display:none;
    }
    #mainTitle {
        font-size: 150%;
    }

    /*the section with my recommended products */
    #productSection {
        clear: left;
        margin-top: 5%;
    }

    #productCards {
        margin: 5%;
    }

    /*reduced font size of main header*/


    /*made 1st image take up width, put description underneath*/
    .mainImage {
        display:block;
        float:left;
        width: 95%;
        padding-top:0%;
    }

    /*remove descriptive text*/
    .detailedDescription {
        display: none;
    }
} 



body {
    height:100%;
    font-family: Montserrat, sans-serif;

}

footer {
    background-color:#1E000B;
    color: white;
    clear: both;
    margin-top: 4%;
    padding: 3%;
    text-align:center;
    ;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    margin-bottom:0%;
}


nav {
    padding: 1%;
    margin-top: 0%;
    background-color: #651123;
    text-align:right;
}

/*links*/
/*unvisited link*/
a:link {
    color: white;
}

/*visited link*/
a:visited {
    color:honeydew;
}

/* mouse over link */
a:hover {
    color:cornsilk;
}

/* selected link */
a:active {
background-color:#1E000B;
}



/*classes*/

/*cards of product: image and description*/
.card {
    box-shadow: 0em .25em .5em 0em rgba(255, 104, 220, 0.2);
    margin: 1%;
}


.price {
    margin-top:0%;
    font-weight:bold;
}

.productDescription {
    background-color:#CF84A0;
    color:white;
    opacity: .6;
    padding: 1%;
    
}

.productImage {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    
}

/* ID's*/

#currFav {
    padding: 2%;
    background-color:#CF84A0;
    color: white;
    text-align:center;
}

/*logo of site*/
#logo {
    font-size: 300%;
    padding:1%;
    background-color: #CF84A0;
    color: white;
    text-align:center;
    font-family: Dancing Script, cursive;
    margin:0%;
}








